
.corpo{
    background-color: rgb(13, 0, 26);
}

/* Projetos: */

.projetos{
    display: flex;
}

.projeto{
    display: flex;
    padding: 5px;
    
}

.projeto ul{
    margin: 4px;
}

.projeto img{
    background-color: rgba(0, 78, 59, 0.63);
    padding: 5px;
    width: 35mm;
    height: 30mm;
    
}

.projeto a{
    color: #fff;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.projeto p{
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.projeto h5{
    margin-top: 6px;
    margin-bottom: 1px;
}    

div.projeto{
    margin-bottom: 30px;
}

/* organização do texto e da imagem */

/* div.taxtosquerda img{
    order: 1;
}     */

.taxtodireta{
    text-align: none;
}

.taxtosquerda{
    text-align: none;
}

/* .projeto1{
    background-color: rgba(0, 19, 19, 0.596);
} */    

/* Responsivo */

@media (max-width: 560px) {
    .projetos {
        flex-wrap: wrap;
    }

}

@media (max-width: 425px) {
    .projetos {
        flex-wrap: wrap;
    }
    div.projetos div.taxtosquerda .tambprojeto{
        order: 1;
    }
    .taxtosquerda{
        text-align: right;
    }

}

@media (max-width: 395px) {
    .cabeçalho{
        font-size: 80%;
    }
    .projeto img{
        width: 29%;
    }
    .projeto img{
        width: 29%;
    }
}

/* 
@media (max-width: 395px) {
    .projeto img{
        width: 29%;
    }
}

@media (max-width: 395px) {
    .projeto img{
        width: 29%;
    }
} */

@media (max-width: 320px) {
    .cabeçalho{
        font-size: 65%;  
    }
    h2.title{
        font-size: 130%;
    }
}
